{
  "passPerPreset": true,
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "relay"
  ],
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": "commonjs",
        "targets": "> 0.25%, not dead"
      }
    ]
  ]
}
